<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitalcreative.vimatelindonesia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        android:excludeFromRecents="true"/>

    <application
        android:icon="@mipmap/ic_logonew_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_logonew_round"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:fullBackupContent="true"

        android:theme="@style/AppTheme">
        <service
            android:name=".Controller.ForegroundService"
            android:enabled="true"
            ></service>
        <service
            android:name=".Controller.ForegroundService_t0"
            android:enabled="true"
          ></service>
        <service
            android:name=".Controller.ForegroundService_t1"
            android:enabled="true"
          ></service>
        <service
            android:name=".Controller.ForegroundService_t2"
            android:enabled="true"
        ></service>
        <service
            android:name=".Controller.ForegroundService_t3"
            android:enabled="true"
         ></service>
        <service
            android:name=".Controller.ForegroundService_t4"
            android:enabled="true"
            ></service>
        <service
            android:name=".Controller.ForegroundService_t5"
            android:enabled="true"
          ></service>
        <service
            android:name=".Controller.ForegroundService_t6"
            android:enabled="true"
            ></service>
        <receiver
            android:name=".Controller.BroadcastReceiverForegroundServiceRestart_t0"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">

        </receiver>
        <receiver
            android:name=".Controller.BroadcastReceiverForegroundServiceRestart_t1"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">

        </receiver>
        <receiver
            android:name=".Controller.BroadcastReceiverForegroundServiceRestart_t2"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">

        </receiver>
        <receiver
            android:name=".Controller.BroadcastReceiverForegroundServiceRestart_t3"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">

        </receiver>
        <receiver
            android:name=".Controller.BroadcastReceiverForegroundServiceRestart_t4"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">

        </receiver>
        <receiver
            android:name=".Controller.BroadcastReceiverForegroundServiceRestart_t5"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">

        </receiver>
        <receiver
            android:name=".Controller.BroadcastReceiverForegroundServiceRestart_t6"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">

        </receiver>

        <activity
            android:name="com.digitalcreative.vimatelindonesia.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.digitalcreative.vimatelindonesia.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.digitalcreative.vimatelindonesia.View.MenuPages.PencarianPage_Activity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>